.my-skills div:hover {
    transform: scale(1.1); /* Membesar 10% */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan */
}


  /* Custom Liverpool Colors */
  .bg-liverpool-red {
    background-color: #C8102E; /* Liverpool red */
  }
  .text-liverpool-white {
    color: #FFFFFF; /* White */
  }
  .hover-bg-liverpool-red:hover {
    background-color: #C8102E; /* Liverpool red */
  }
  .hover-text-liverpool-red:hover {
    color: #C8102E; /* Liverpool red */
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  #hero {
    background: linear-gradient(to bottom, #C8102E, #9B1B30);
    color: white;
  }

